<div class="wrapper">
  <div class="row">
    <div class="container">
      <div class="well">
        <div class="form-group col-xs-6">
          <h1> Header Key</h1>
          <input type="text" class="form-control" [(ngModel)]="HeaderKey" name="HeaderKey" placeholder="HeaderKey">
        </div>
        <div class="form-group col-xs-6">
          <h1> Header val</h1>
          <input type="text" class="form-control" [(ngModel)]="HeaderVal" name="HeaderVal" placeholder="HeaderVal">
        </div>
        <button class="btn btn-info" (click)="SendGetReq()" >GET</button>
        <button class="btn btn-info" (click)="SendPostReq()" >POST</button>
      </div>
    </div>
  </div>
</div>
